/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
 body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Courier New', Courier, monospace;
 }

 .test{
  width: 100%;
 }
 .test:hover{
  cursor: crosshair;
 }
 .choice:hover{
  background-color: rgba(182, 174, 174, 0.845);
  border-radius: 14px;
} 

.game{
  margin-top: 80px;
  margin-bottom: 32px; 
  cursor: crosshair;
  /* width: 100vw; */
}
/* .game img{ */
  /* width: 100vw; */
/* } */

nav{
  z-index: 50;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 height: 80px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 background-color: gray;
  color: white;
  font-weight: bold;
}
.navItems{
  display: flex;
  height: 70%;
  width: 40%;
}
footer{
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  background-color: gray;
  color: white;
  font-weight: bold;
}
.content{
  display: flex;
  flex-direction: column;

}
.choice{
  /* text-decoration: line-through; */
  display: flex;
  align-items: center;
  gap: 4px;
  /* height: 100px; */
}
.line{
  text-decoration: line-through;
}
.message{
  position: fixed;
  height: 50px;
  width: 300px;
  padding: 10px;
  color: white;
  left: 500px;
  top: 100px;
  border-radius: 25px;
  z-index: 99;
}
.correct{
    background-color: green;

}
.uncorrect{
    background-color: red;

}
.win{
  height: 200px;
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 40px;
  background-color: lightblue;
  color:  white;
  position: fixed;
  left: 35%;
  top: 200px;
}
.thetable{
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
}
.thetable div{
  padding: 5px;
}
.thetable div:hover{
  background-color: rgb(222, 222, 222);
}
.choices div{
  display: grid;
  grid-template-columns: 30px 1fr;
  width: 100px;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}
.choices img{
  width: 100%;
  height: 100%;
}
.navItems img{
  height: 100%;
  width: 100%;
}
.normal, .answered{
  align-items: center;
  gap: 10px;
}
.answered{
  text-decoration: line-through;
  color: rgb(227, 227, 227);
}
.home{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.firstpart{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 40, 40);
  color: white;
  padding: 40px;
  height: 100px;
  
}
.secondpart{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(52, 52, 255);
  color: white;
  width: 100%;
  
}
.games{
  width: 65%;
  background-color: white;
  border-radius: 10px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.games .aGame{
  width: 25%;
  height: 80%;
  background-color: rgb(201, 201, 201);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 30%;
  row-gap: 5px;
}
.aGame h4{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: black;
  padding-bottom: 5px;
}
.aGame .Link{
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}
.aGame .Link:hover{
  background-color: rgb(221, 221, 221);
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.dark{
  background-color: rgb(141, 141, 141);
}
.light{
  background-color: rgb(215, 215, 215);

}
.boardlist{
  width: 60%;
  /* margin-left: 20%; */
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1.8px 1.8px 1.8px gray;
}

.boardlist div{
  padding: 10px;
}
.board{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #3AAFA9;
  /* width: 100vh; */
  height: 100vh;
}
