/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
 body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 }

 .test{
  width: 100%;
 }
 .test:hover{
  cursor: crosshair;
 }
 .choice:hover{
  background-color: rgba(182, 174, 174, 0.845);
  border-radius: 14px;
} 

.game{
  margin-top: 80px;
  margin-bottom: 32px; 
}
nav{
  z-index: 50;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 height: 80px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 background-color: gray;
  color: white;
  font-weight: bold;
}
.navItems{
  display: flex;
  height: 70%;
  width: 40%;
}
footer{
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  background-color: gray;
  color: white;
  font-weight: bold;
}
.content{
  display: flex;
  flex-direction: column;

}
.choice{
  /* text-decoration: line-through; */
  display: flex;
  align-items: center;
  gap: 4px;
  /* height: 100px; */
}
.line{
  text-decoration: line-through;
}
.message{
  position: fixed;
  height: 50px;
  width: 300px;
  padding: 10px;
  color: white;
  left: 500px;
  top: 100px;
  border-radius: 25px;
  z-index: 99;
}
.correct{
    background-color: green;

}
.uncorrect{
    background-color: red;

}
.win{
  height: 200px;
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 40px;
  background-color: lightblue;
  color:  white;
  position: fixed;
  left: 35%;
  top: 200px;
}